.media-url-wrapper {
  background: #f8fff0;
  border: 2px solid #be7;
  border-radius: 5px;
  color: #3e3e3e;
  margin: 1em 0;
  padding: 0.5em;
}
.media-url-wrapper h3 {
  margin: 0;
}
.media-url {
  border-bottom: 1px dashed #666;
  margin: 0.5em 0;
  padding-bottom: 0.5em;
}
.media-url:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.media-url p {
  margin: 0;
}
.media-url p span {
  font-weight: bold;
}
